<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="description">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Master Of Delay</title>
    <link href="../static/style.css" rel="stylesheet">
</head>

    <header>
        <h2 class="logo">MoD</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="profile.html">Profile</a>
            <a href="#">Blogs</a>
            <a href="#">Services</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

</html>

{% block content %}

{% endblock %}


